<table class="table table-bordered table-striped">
    <thead>
      <tr>
          <th>ID</th>
          <th>E-mail</th>
          <th></th>
      </tr>
    </thead>
    <tbody>
    {{#each model as |contact|}}
        <tr>
            <th>{{contact.email}}</th>
            <td>{{contact.message}}</td>
            <td><button {{ action 'delModel' contact}}>Delete</button></td>
        </tr>
    {{/each}}

    </tbody>
</table>
